{% extends 'default.html.twig' %}

{% block menu %}
    <li class="nav-item active"><a class="nav-link" href="{{ path('medewerker_homepage') }}">home</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ path('medewerker_medicijnen') }}">medicijnen</a></li>


    <li class="nav-item"><a class="nav-link" href="#">contact</a></li>
{% endblock %}

{% block menu_right %}
    <li class="nav-item "><a class="nav-link" href="{{ path('app_logout') }}">uitloggen</a></li>
{% endblock %}

{% block content %}

    <h3>Medicijn {{ naam }}</h3>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


{% endblock %}